var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
var lat      = 0;
var lon      = 0;

ws.onmessage = function(message) {
  addMessage(message.data);

  writeMessage(message.data);
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#input-handle")[0].value;
  $.cookie('handle', handle);
  var text   = $("#input-text")[0].value;
  var sendtime = $.now();
  
  ws.send('{"handle":"'+handle+'","text":"'+text+'","sendtime":'+sendtime+',"lat":"' + lat + '","lon":"'+lon +'"}')
  // ws.send(JSON.stringify({ handle: handle, text: text, sendtime: sendtime }));
  $("#input-text")[0].value = "";
  $("#input-text").focus();
});

$( document ).ready(function() {

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  } else {
    error('not supported');
  }

  writeMessage(localStorage['message5']);
  writeMessage(localStorage['message4']);
  writeMessage(localStorage['message3']);
  writeMessage(localStorage['message2']);
  writeMessage(localStorage['message1']);
  $("#chat-text").prepend('<div class="page-header"><strong class="text-muted">Previous messages</strong></div>');
  if ($.cookie('handle'))
    $("#input-handle")[0].value = $.cookie('handle');
});

function writeMessage(json_data)
{
  if(json_data)
  {
    // var data = JSON.parse(json_data);
    var data = eval('(' + json_data + ')'); //exploit with: hi" + alert("xss") + "

    var time = new Date(parseInt(data.sendtime));
    var hours = time.getHours()>12 ? time.getHours()-12 : time.getHours();
    var min = time.getMinutes()<10 ? '0'+time.getMinutes(): time.getMinutes();
    var AMPM = time.getHours()>12 ? 'PM' : 'AM';

    if (time.getDate() == new Date($.now()).getDate() )
    {
      $("#chat-text").prepend("<dl class='dl-horizontal'><dt>" + data.handle + "</dt><dd>" + data.text + "<span class='text-muted pull-right' style='padding-left:5px'>" + hours+":"+min+" "+ AMPM + "<br />" + "Lat: " + data.lat + "<br />Lon: " +data.lon + "</span></dd></dl>");
    }
    else
    { 
      $("#chat-text").prepend("<dl class='dl-horizontal'><dt>" + data.handle + "</dt><dd>" + data.text + "<span class='text-muted pull-right' style='padding-left:5px'>" + time.getDate() + hours+":"+min+" "+ AMPM + "<br />" + "Lat: " + data.lat + "<br />Lon: " + data.lon + "</span></dd></dl>");
    }
  }
}

function addMessage(data) 
{
  localStorage['message5'] = localStorage['message4']
  localStorage['message4'] = localStorage['message3']
  localStorage['message3'] = localStorage['message2']
  localStorage['message2'] = localStorage['message1']
  localStorage['message1'] = data
}

function error(msg) {
  alert(msg)  
}

function success(position) {
  lat = position.coords.latitude;
  lon = position.coords.longitude;

  $("#location").html('Location discovered at: <br />Lat: ' + lat + "<br />Lon: " +lon);
}
